<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/semantic-ui-css/semantic.min.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewData["Title"]</title>
</head>
<body>

<div class="ui inverted menu borderless no-border-radius">
    <div class="ui container">
        <div class="header fitted item">IOU Invoice Creator</div>
    </div>
</div>

<div class="ui container">
    @RenderBody()
</div>

<script src="~/lib/jquery/jquery-3.5.1.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/semantic-ui-css/semantic.min.js"></script>
<script src="~/js/script.js"></script>
</body>
</html>